@(userOrigin: com.co.common.models.User,userDestiny: com.co.common.models.User, punto: com.co.common.models.Punto)
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>

    </head>

    <body>
        <h2 >Recomendacion Activada</h2>
        <h3> Hola @userDestiny.nombre @userDestiny.apellidos</h3>
        <div class="card" style="width: 300px;">
            <img class="card-img-top" src="http://inrng.com/medias/img/andregreipelrouen.jpg">
            <div class="card-body">
                <h5 class="card-title">Has activado la recomendacion de @userOrigin.nombre @userOrigin.apellidos</h5>
                <p class="card-text">Los puntos ganados por tus recomendaciones son: </p>
                <p class="card-text" id="puntos">@punto.valor</p>
            </div>
        </div>
        <br><br>
        <a href="../redimir" class="btn btn-primary">Redimir puntos</a>

    </body>

</html>
