@(idUsuario: Long, puntos: List[Punto])
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<title>Configurador Bike App</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "/css/main.css"%}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="{% static "js/constants.js"%}"></script>
    <script src="{% static "js/gamification.js"%}"></script>


</head>

<body>
    <h2 >Consulta tus puntos</h2>
    <h3>Hola Usuario @idUsuario</h3>
    <div class="card" style="width: 300px;">
        <img class="card-img-top" src="https://bicycledutch.files.wordpress.com/2016/01/utrecht-main-cycle-routes.jpg?w=768&h=448">
            <div class="card-body">
                <h5 class="card-title">Puntos por recorridos</h5>
                <p class="card-text">Los puntos ganados por tus recorridos son: </p>
                <p class="card-text" id="puntos">@puntos.head.puntosRecorridos</p>
                <a href="/redimir" class="btn btn-primary">Redimir Puntos</a>
            </div>
    </div>

</body>

</html>
