@import com.co.common.models.prestamo.TipoPago
@(nombreUsuario: String, idUsuario: Long, tipoPago: TipoPago)
@helper.form(action = controllers.routes.HomeController.realizarPrestamo(idUsuario)) {
    @helper.CSRF.formField

    <link type="css" href="css/styles.css?v=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style type="text/css">
            body, html{
                width:100%;
                height:100%;
                font-family: 'Source Sans Pro', sans-serif;
            }
            #header{
                height: 7%;
                width: 100%;
                margin:0;
                max-width: 100% !important;
                padding-top: 15px;
            }

            #label{
                height: 10%;
                background: rgba(43,184,9,0.65);
                width: 100%;
                text-align: center;
                font-size: 6em;
                color: white;
            }

            #labelIcon{
                height: 20%;
                width: 100%;
                text-align: center;
                font-size: 3.5em;
                padding-top: 5%;
                position: relative;
            }

            #seccionPrestamo{
                height: 30%;
                width: 100%;
                text-align: center;
                padding-top: 5%;
                font-size: 3em;
            }

            #seccionBoton{
                padding-top: 5%;
                height: 33%;
                width: 100%;
                text-align: center;
                font-size: 3.5em;
            }

            button{
                cursor: pointer;
            }
    </style>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>


    <div id="header" class="container row">
        <a href="../menu?idUsuario=30">
            <p class="col-md-5" style="color: blue; font-size: 3em;max-width:100%;">
                < Back
            </p>
        </a>
        <p class="col-md-7" style="color: black; font-size: 3em;">
            @if(tipoPago == TipoPago.Gratuito) {
                BiciGov
            }
            @if(tipoPago == TipoPago.Efectivo){
                BiciClub
            }
            @if(tipoPago == TipoPago.Tarjeta){
                BiciCity
            }
        </p>
    </div>
    <div id="label">
        <p>Préstamo Bicicleta</p>
    </div>
    <div id="labelIcon">
        <img src="@routes.Assets.versioned("images/iconBici.png")" style="position: absolute; bottom: 1%;left: 0; right: 0; margin-right: auto; margin-left: auto;">
    </div>
    <div id="seccionPrestamo">
        <p>
            Por favor ingresa el código que aparece en <br> el punto de préstamo de bicicletas:
        </p>
        <input type="text" style="border: 3px solid gray;" name="codigo_bicicleta" id="codigo_bicicleta" placeholder="Código del punto">
    </div>
    <div id="seccionBoton">
        <button style="font-size: 1em;"	 type="submit" class="btn btn-success">Realizar Prestamo</button>
    </div>

}