@import com.co.common.models.registro.Registro
@import com.co.common.models.registro.TipoRegistro

@(registros: Seq[Registro])

@main("Regristro") {
    <h1>Registro App</h1>

    @for(registro <- registros) {

        @if(registro.getRegistro == TipoRegistro.Celular) {
            <input type="submit" onclick="location.href='@controllers.routes.HomeController.iniciarRegistro(registro.getRegistro)';" value="Numero Telefonico" />
        }

        @if(registro.getRegistro == TipoRegistro.Correo) {
            <input type="submit" onclick="location.href='@controllers.routes.HomeController.iniciarRegistro(registro.getRegistro)';" value="Correo" />
        }

        @if(registro.getRegistro == TipoRegistro.Facebook) {
            <input type="submit" onclick="location.href='@controllers.routes.HomeController.iniciarRegistro(registro.getRegistro)';" value="Facebook" />
        }
    }

}